

.alert{
    padding: 15px;
    width: 300px;
    text-align: center;
    background-color: green;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

:root{
        --bg: #0b0c10;
        --surface: #13151b;
        --border: #23263a;
        --accent: #c8f03d;
        --accent2: #5b6aff;
        --text: #e8eaf0;
        --muted: #6b7280;
        --danger: #ff5c2c;
        --success: #41f14a;
        --radius: 14px;
    }

.flash.danger {
    background: rgba(255,92,92,.5); 
    border-color: var(--danger); 
    color: #e70c0c;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    border-radius: 10px;
    margin-top: 5px;
}
.flash.success{ 
    background: rgba(2, 45, 5, 0.5); 
    border-color: var(--success); color: var(--success);
    padding: 15px 10px;
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    border-radius: 10px;
    transition: .5s ease-in;
    margin-top: 5px;
}
.flash.info{
    background: rgba(91,106,255,.5); 
    border-color: var(--accent2); 
    color: #a5adff;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    border-radius: 10px;
    margin-top: 5px;
}

