{% extends 'base.html' %}
{% block content %}

  {%with messages = get_flashed_messages(with_categories=true)%}
    {%for category, message in messages%}
      <div class="flash {{category}}">{{message}}</div>
    {%endfor%}
   {%endwith%}

<p class="font-bold text-2xl mt-10 ml-6 text-white">Welcome To Register Page</p>
<div class="flex flex-col justify-between border-2 border-white rounded-xl w-96 p-2 m-auto h-fit mt-6">
    <form action="" method="post" enctype="multipart/form-data" class="rounded-xl bg-blue-100 p-5">
    <label for="name">Name:</label>
    <input type="text" placeholder="Enter your name" name="username" class="border-2 border-blue-600 rounded-xl py-2 pl-4 outline-none w-full"> <br><br>
    <label for="email">Email:</label>
    <input type="email" placeholder="Enter your email" name="email" class="border-2 border-blue-600 rounded-xl py-2 pl-4 outline-none w-full"> <br><br>
    <label for="password">Password:</label>
    <input type="password" placeholder="*********" name="password" class="border-2 border-blue-600 rounded-xl py-2 pl-4 outline-none w-full"> <br><br>
    <label for="confirmpass">Confirm Password:</label>
    <input type="password" placeholder="*********" name="confirm" class="border-2 border-blue-600 rounded-xl py-2 pl-4 outline-none w-full"><br> <br>
    <a href="/login">
        <button class="bg-blue-500 hover:bg-blue-400 hover:text-black cursor-pointer transition duration-700  text-white w-full py-2 rounded-xl cursor-pointer mt-4">Register</button>
    </a>
</form>
</div>
<div class="flex justify-self-center mt-6">
        <p class="font-bold text-white">already have an account ? </p> 
        <a href="/login"> <button class="cursor-pointer ml-2 hover:underline">login here</button></a>
    </div>

{% endblock %}  